@model CodingCraft.Cap2.Models.Entities.GrupoProduto

@{
    ViewBag.Title = "_Criar_Foundation";
}

<h2>Criar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div>
        <h4>GrupoProduto</h4>

		@Html.Partial("_CriarOuEditar_Foundation", Model)

        <p>
            <input class="button" type="submit" value="Criar" />
        </p>
    </div>
}

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>


