@model CodingCraft.Cap2.Models.Entities.GrupoProduto

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="control-group">
    @Html.LabelFor(model => model.Nome)
	<div class="control">
		@Html.EditorFor(model => model.Nome)
	</div>
    @Html.ValidationMessageFor(model => model.Nome)
</div>


