@model CodingCraft.Cap1.Models.Entidades.ProdutoCompra

<tr>
    <td>
        @Html.DisplayFor(model => model.Produto.Nome)
    </td>
    <td>
        @Html.DisplayFor(model => model.Quantidade)
    </td>
    <td>
        @Html.DisplayFor(model => model.Valor)
    </td>
</tr>
